* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

:root {
  --red:#f3123c;
  --buttonHover:#e71e43;
  --gray:#4d4c59;
  --graybg:#DFDBDC;
  --bodybg:#f3f5f8;
  --inputborder:2px solid #ecedf2;
  --inputradius:8px;
  --inputheight:47px;
  --footerbg:#2e2e37;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.swiper-button-next {
  color: red !important;
}

.swiper-button-prev {
  color: red !important;
}